*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: arial, sans-serif;
}
body.home {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.homenav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 30px;
	margin-top: 14px;
}
.homenav a {
	font-size: 13px;
	display: inline-block;
	line-height: 24px;
	font-weight: 400;
	color: rgb(0,0,0, 0.87);
	cursor: pointer;
	padding: 5px 6.7px
}
.homenav a:hover {
	text-decoration: underline;
	opacity: .85;
}
.homenav img {
	width: 34px;
	padding: 5px;
	margin: auto 7px;
	cursor: pointer;
}
.homenav img:hover {
	opacity: .8;
}
.homenav button {
	border: 1px solid #4285f4;
	font-weight: bold;
	outline: none;
	background: #4285f4;
	color: #fff;
	padding: 7px 12px;
	border-radius: 3px;
	margin-left: 7px;
	cursor: pointer;
}
.home.section-1 {
	flex: 1;
}
.home.section-1 .logo {
	display: block;
	margin: 0px auto;
	margin-top: 107px;
}
.home.s-box {
	width: 580px;
	margin: 0px auto;
	position: relative;
	margin-top: -8px;
	text-align: center;
}
.home.s-box .s-input {
	display: block;
	border: 1px solid #ddd;
	color: rgba(0,0,0, 0.87);
	font-size: 16px;
	padding: 13px;
	padding-left: 45px;
	border-radius: 25px;
	width: 100%;
	transition: box-shadow 100ms;
	outline: none;
}
.home.s-box  .s-input:hover {
	border: 1px solid #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 
				0 0 2px rgba(0, 0, 0, 0.05),
				0 0 3px rgba(0, 0, 0, 0.05),
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05), 
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05)
}
.home.s-box .search-icon {
	width: 20px;
	opacity: .4;
	position: absolute;
	top: 13px;
	left: 14px;
}
.home.s-box .vs-icon {
	width: 14px;
	position: absolute;
	top: 13px;
	right: 24px;
}
.home.s-btn {
	border: 1px solid transparent;
	padding: 9px 15px;
	color: #666;
	font-size: 14px;
	border-radius: 4px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 28px;
	outline: none;
	cursor: pointer;
	transition: border-color 100ms;
}
.home.s-btn:hover {
	border: 1px solid #aaa;
}
.home.lang {
	margin-top: 30px;
	text-align: center;
	font-size: 13px;
	color: #111;
}
.home.lang a {
	margin-left: 5px;
	color: #1a0dab;
}
.home.lang a:hover {
	text-decoration: underline;
}
.homefooter {
	background: #f2f2f2;
}
.homefooter h4 {
	color: rgba(0,0,0, 0.54);
	font-size: 15px;
	line-height: 39.5px;
	font-weight: 400;
	padding-left: 29px;
	border: 1px solid #eee;
}
.homefooter a {
	color: #5f6368;
	display: inline-block;
	padding: 12px 11.3px;
	font-size: 14px;
}
.homefooter a:hover {
	text-decoration: underline;
}
.home.links {
	border-top: 1px solid #ddd;
	display: flex;
}
.home.link-1 {
	padding-left: 18.7px;
	flex: 1;
}
.home.link-2 {
	padding-left: 0px;
}
.home.link-3 {
	padding-right: 18.7px;
}

.resultsbody1 {
    min-height: 100%;
    position: relative;
}

.result#topbar {
    display: flex;
    height: 64px;
    width: 100%;
    align-items: flex-end;
    position: fixed;
    background-color: white;
}

.result#logo {
    height: 45px;
    padding: 0px 28px 10px 30px;
    cursor: pointer;
}

.resulthtml, body1 {
    margin: 0;
    padding: 0;
    height: auto;
}

.result#searchbarbutton svg {
    height: 25px;
    width: 35px;
    position: relative;
    left: -3px;
}

.result#searchbarbutton svg path {
    fill: #ffffff
}

.result#searchbar {
    width: 625px;
    height: 45px;
    border-radius: 100px;
    border-color: light-grey;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    position: relative;
    bottom: 5px;
    overflow: hidden;
    display: flex;
    z-index: 100;
}

.result#searchbar:hover {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.result#searchbar > input {
    height: 45px;
    border-style: none;
    font-size: 16px;
    line-height: 45px;
    padding-left: 20px;
    flex: 1;
}

.result#searchbar > input:focus {
    outline: none;
}

.result#searchbar button {
    border: none;
    cursor: pointer;
}

.resultsearchbar button:focus {
    outline: none;
}

.result#boxesicon {
    width: 25px;
    height: 25px;
    background-image: url('images/boxes.png');
    opacity: 0.6;
    background-size: 26px;
    position: absolute;
    right: 130px;
    bottom: 14px;
}

.result#optionsmenuactive::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #4285F4;
    left: 5px;
    bottom: 0px;
}


.result#searchresultsarea {
    margin-left: 150px;
    font-family: 'Arial';
}

.result#searchresultsnumber {
    font-size: 0.8rem;
    color: gray;
}

.result.searchresult {
    margin-left: 8px;
}

.result.searchresult h2 {
    font-size: 19px;
    line-height: 18px;
    font-weight: normal;
    color: rgb(29, 1, 189);
    margin-bottom: 0px;
    margin-top: 0px;
}

.result.searchresult a {
    font-size: 14px;
    line-height: 14px;
    color: green;
    margin-bottom: 0px;
}

.result.searchresult button {
    font-size: 10px;
    line-height: 14px;
    color: green;
    margin-bottom: 0px;
    padding: 0px;
    border-width: 0px;
    background-color: white;
}

.result#bellicon {
    width: 20px;
    height: 20px;
    background-color: rgb(105, 105, 105);
    background-image: url('images/bell.png');
    background-size: 12px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 30px;
    position: absolute;
    right: 90px;
    bottom: 18px;
}

.result#signup {
    border-radius: 200px;
    width: 150px;
    height: 45px;
    position: absolute;
    right: 50px;
    bottom: 12px;
}

.result#optionsbar {
    width: 100%;
    height: 50px;
    border-width: 0px;
    border-bottom: 1px;
    border-color: lightgray;
    border-style: solid;
    display: flex;
    align-items: flex-end;
    font-family: 'Arial';
    font-size: 13px;
    color: rgb(112, 112, 112);
    padding-top: 64px;
}

.result#optionsmenu1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    margin-left: 150px;
}

.result#optionsmenu1 li {
    padding: 0px 10px 15px 20px;
}

.result#optionsmenuactive {
    color: #4285F4;
    font-weight: bold;
    position: relative;
    z-index: -1;
}

.result.searchresult p {
    width: 625px;
    font-size: 13px;
    margin-top: 0px;
    color: rgb(82, 82, 82);
}

.result.relatedsearches h3 {
    font-weight: normal;
    font-size: 19px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.resultrelatedlists ul {
    list-style: none;
    color: rgb(29, 1, 189);
    padding-left: 0px;
    font-size: 14px;
    margin-bottom: 50px;
}

.result.relatedlists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

.result.relatedlists ul li {
    margin-bottom: 8px;
}

.result.pagelist {
    list-style: none;
    color: rgb(29, 135, 255);
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.result.pagelistprevious::before {
    content: '<';
    display: block;
    position: absolute;
    right: 12px;
    top: -35px;
    color: rgb(29, 135, 255);
    font-size: 20px;
    transform: scale(0.7, 1.2);
}

.result.pagelistprevious::after {
    content: '';
    display: block;
    position: absolute;
    right: -40px;
    top: -35px;
    width: 40px;
    height: 40px;
    background-image: url('images/g.png');
    background-repeat: no-repeat;
    background-size: 28px;
}

.result.pagelistfirst {
    margin-left: 20px;
    font-size: 13px;
}

.result.pagelistnumber::before, .pagelistfirst::before {
    content: '';
    display: block;
    position: absolute;
    left: -2px;
    top: -21px;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    background-color: white;
    z-index: 3;
}

.result.pagelistnumber::after {
    content: '';
    display: block;
    position: absolute;
    left: -6px;
    top: -25px;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    background-color: rgb(255, 196, 0);
    z-index: 2;
}

.result.pagelistfirst::after {
    content: '';
    display: block;
    position: absolute;
    left: -6px;
    top: -25px;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    background-color: red;
    z-index: 2;
}

.result.pagelist li {
    margin-right: 15px;
    position: relative;
}

.result.pagelistnext {
    margin-left: 40px;
    font-size: 13px;
}

.result.pagelistnext::before {
    content: '>';
    display: block;
    position: absolute;
    left: 5px;
    top: -35px;
    color: rgb(29, 135, 255);
    font-size: 20px;
    transform: scale(0.7, 1.2);
}

.result.pagelistnext::after {
    content: '';
    display: block;
    position: absolute;
    left: -55px;
    top: -37px;
    width: 50px;
    height: 50px;
    background-image: url('images/gle.png');
    background-repeat: no-repeat;
    background-size: 48px;
}


.result#footer1 {
    background-color: rgb(238, 238, 238);
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 13px;
    font-family: 'arial';
    color: rgb(85, 85, 85);
}

.result#footermenu1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-left: 135px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.result#footermenu li {
    padding-right: 30px;
}
.results(.home) display none
.result#footerlocation1 {
    display: flex;
    direction: row;
    margin-left: 175px;
    position: relative;
    top: -5px;
}

.result#footerlocation p:nth-of-type(1) {
    font-weight: bold;
}
